<h1> Hello, fill in the form below to create a new bookmark </h1>

<form action='/links' method='post'>
  <label for='title'>
    Please Enter the title
    <input type='text' name='title'>
  </label>
  <label for='url'>
    Please Enter the URL
    <input type='text' name='url'>
  </label>
  <label for='tags'>
    Tags:
    <input type='text' name='tags'>
  </label>
  <input type='submit' value='Submit'>
</form>
