<h1> Hello, fill in the form below to create a new bookmark </h1>

<form action='/links' method='post'>
  <label for='title'>
    Please Enter the title
  </label>
  <input type='text' name='title'>
  <label for='url'>
    Please Enter the URL
  </label>
  <input type='text' name='url'>
  <input type='submit' value='Submit'>
</form>
